<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Simple Table</h4>
              <p class="card-category">Here is a subtitle for this table</p>
            </div>
           
  
            <div class="card-body">
            
                
             
<div class="container">
    <div class="row">
        
        <div class="col-md">
            <label> Route  </label>
            <mat-form-field appearance="fill">
              <mat-label>Choisie la route</mat-label>
              <mat-select [(value)]="selectedRoute" (selectionChange)="onchange($event.value)">
                
                <mat-option *ngFor="let the of routes" value={{the}} >{{the}}</mat-option>
             
              </mat-select>
            </mat-form-field>

        </div>
        <div class="col-md">
      
          <p> Synoptique </p>  
          <mat-button-toggle-group [(ngModel)]="type" aria-label="Font Style" style="width: 100%;">
            <mat-button-toggle value="simple" style="width: 33.33%;">simple</mat-button-toggle>
            <mat-button-toggle value="analyse" style="width: 33.33%;">analyse</mat-button-toggle>
            <mat-button-toggle value="advanced" style="width: 33.33%;">advanced</mat-button-toggle>
          </mat-button-toggle-group>
        
        </div>
        <div class="col-md">
            <label> Sens  </label>
            <mat-form-field appearance="fill">  
              <mat-label>Sens</mat-label>
              <mat-select [(value)]="selectedVoie" (selectionChange)="onchangeVoie($event.value)">
                
                <mat-option  value=1 >1</mat-option>
                <mat-option  value=2 >2</mat-option>
             
              </mat-select>
            </mat-form-field>

        </div>
        

        </div>
        <div class="row">
          <div class="col-md">
            <label> pkd  </label>
            <mat-form-field appearance="fill">
              <mat-label>pkd</mat-label>
              <mat-select [(value)]="value1" (selectionChange)="valueRequette1($event.value)">
                <mat-option value={{op}} *ngFor="let op of valueTOs1">{{op}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>  
          <div class="col-md" *ngIf="isAnalyse()">
            <label> Evénemenent  </label>
            <mat-form-field appearance="fill">
              <mat-label>Evénemenent</mat-label>
              <mat-select [(value)]="selectedEvent" (selectionChange)="selectedEventF($event.value)">
                <mat-option
                              *ngFor="let the of thematique"
                              value="{{ the }}"
                              >{{ the }}</mat-option
                            >
              </mat-select>
            </mat-form-field>
          </div>  
          <div class="col-md" *ngIf="!advancedIshere()">
            <label> video  </label>
            <mat-form-field appearance="fill">
              <mat-label>video</mat-label>
              <mat-select [(value)]="selectedEvent" (selectionChange)="getMyvideo($event.value)">
                <mat-option
                       *ngFor="let v of videos"
                              value="{{ v.name }}"
                              >{{ v.name }}</mat-option
                            >
              </mat-select>
            </mat-form-field>
          </div>  
          <div class="col-md">
            <label> pkf  </label>
            <mat-form-field appearance="fill">
              <mat-label>pkf</mat-label>
              <mat-select [(value)]="value2" (selectionChange)="valueRequette2($event.value)">
                <mat-option value={{op}} *ngFor="let op of valueTOs2">{{op}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div> 
        </div>
    </div>
</div>
<div>
    
</div>

<div id="chart" *ngIf="advancedIshere()">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [fill]="chartOptions.fill"
    [legend]="chartOptions.legend"
    [plotOptions]="chartOptions.plotOptions"
    [xaxis]="chartOptions.xaxis"
  ></apx-chart>
</div>
<div class="container" *ngIf="advancedIshere()">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <div id="chart2">
            <apx-chart
              [series]="chartOptions2.series"
              [chart]="chartOptions2.chart"
              [labels]="chartOptions2.labels"
              [responsive]="chartOptions2.responsive"
            ></apx-chart>
            </div>
    </div>
    </div>
    </div>

    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <div id="chart3">
            <apx-chart
              [series]="chartOptions3.series"
              [chart]="chartOptions3.chart"
              [dataLabels]="chartOptions3.dataLabels"
              [plotOptions]="chartOptions3.plotOptions"
              [xaxis]="chartOptions3.xaxis"
            ></apx-chart>
          </div>
    </div>
    </div>
    </div>

  </div>
</div>



<button type="button" class="button" (click)="map.show()" (click)="graph.show()"
(click)="video.show()"
  (click)="previewLineData()">Open modal</button>



            </div>





            </div>
            </div>
            </div>
            </div>
           

            <app-modal #map class="modal-demo" [maximizable] = "true" [backdrop] = "false">
              <ng-container class="app-modal-header" >Carte</ng-container>
              <ng-container class="app-modal-body">
                <div id="mapWrap" style="width: 100%; height: 400px;">
            <div id="mapPrevLine" class="mapPrevLine" style="width: 100%; height: 400px;"></div>
            </div>
              </ng-container>
           
            </app-modal>

            <app-modal #graph class="modal-demo" [maximizable] = "true" [backdrop] = "false">
              <ng-container class="app-modal-header" >graph</ng-container>
              <ng-container class="app-modal-body">
                <div id="chartsyno">
                  <apx-chart
                     #chartsynoed
                    [series]="chartOptionsS.series"
                    [chart]="chartOptionsS.chart"
                    [fill]="chartOptionsS.fill"
                    [legend]="chartOptionsS.legend"
                    [plotOptions]="chartOptionsS.plotOptions"
                    [xaxis]="chartOptionsS.xaxis"
                  ></apx-chart>
                </div>
            </ng-container>
            </app-modal>

            <app-modal #video class="modal-demo" [maximizable] = "true" [backdrop] = "false">
              <ng-container class="app-modal-header" >video</ng-container>
              <ng-container class="app-modal-body">
                <video src={{this.videoPath}} (play)="ee($event)" (pause)="pp($event)"  id="myvideo1" controls preload="none" >
                </video>
              </ng-container>
           
            </app-modal>

