<div class="container">
 
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
              <div class="mt-3">
                <h4>{{user.firstName}}  {{user.lastName}} </h4>
                <hr>
                <p class="text-secondary mb-1">Role: {{user.roles[0].name}}</p>
                <p class="text-muted font-size-sm">{{user.userCodeNumber}}</p>
                <p class="text-muted font-size-sm">connected: {{user.lastConnect }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3">
            <div class="card-body">
              <p style="text-align:center">Functionalities</p>
              <hr>
              <div class="container">
                <div class="row">
                  <div class="col-8">
                  Impression des cartes
                  </div>
                  <div class="col-4">
                    <mat-slide-toggle color="primary">
                    </mat-slide-toggle>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-8">
                    Requête spatial/attributaire
                  </div>
                  <div class="col-4">
                    <mat-slide-toggle color="primary">
                    </mat-slide-toggle>
                  </div>
                  
                </div>
                <br>
                <div class="row">
                  <div class="col-8">
                    Analyse du synoptique
                  </div>
                  <div class="col-4">
                    <mat-slide-toggle color="primary">
                    </mat-slide-toggle>
                  </div>
                </div>
              </div>
              </div>
              </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="container">
              <div class="row" *ngFor="let pro of provinces">
                <div class="col-10">
                  {{pro}}
                </div>
                <div class="col-2">
                  <mat-slide-toggle color="primary" [checked]="checkedOrNot(pro)" (change)="addedProvince(pro)">
                  </mat-slide-toggle>
                </div>  
              </div>
            </div>
            </div>
            </div>
            </div>
      
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm" > 
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">firstName</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" ngModel name="firstName"  firstName [(ngModel)]='user.firstName'>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">lastName</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control"  ngModel name="lastName"  lastName [(ngModel)]='user.lastName'>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">cin</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control"  ngModel name="cin"  cin [(ngModel)]='user.cin'>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">userCodeNumber</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control"  ngModel name="userCodeNumber"  userCodeNumber [(ngModel)]='user.userCodeNumber'>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Phone</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control"  ngModel name="userPhone"  userPhone [(ngModel)]='user.userPhone'>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" ngModel name="email"  email [(ngModel)]='user.email' > 
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">sex</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control"  ngModel name="sex"  sex [(ngModel)]='user.sex'>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h6 class="mb-0">birthday</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="date" class="form-control"  ngModel name="birthday"  birthday [(ngModel)]='user.birthday'>
              </div>
            </div>
         
            <div class="row">
              <div class="col-sm-3"></div>
              <div class="col-sm-9 text-secondary">
                <input type="submit" class="btn btn-primary px-4" value="Save Changes">
              </div>
            </div>
          </form>
          </div>
        </div>
       
                </div>
              </div>
            </div>
          
