
.popover-content {
    min-width: 180px;
  }
    
  #videoModal {
    z-index: 80;
    padding-bottom: 50px;
    padding-top: 50px;
    -webkit-perspective: 1300px;
    -ms-perspective: 1300px;
    perspective: 1300px;
    -webkit-perspective-origin: 50% 150px;
    -ms-perspective-origin: 50% 150px;
    perspective-origin: 50% 150px;
  }


#importModal{
  z-index: 80;
  padding-bottom: 50px;
  padding-top: 50px;
  -webkit-perspective: 1300px;
  -ms-perspective: 1300px;
  perspective: 1300px;
  -webkit-perspective-origin: 50% 150px;
  -ms-perspective-origin: 50% 150px;
  perspective-origin: 50% 150px;
}


.areaQuery{
  background-color: rgba(85,212,152,.5);
  width: 100%;
  border: 2px rgba(85,212,152,.8) solid;
  border-radius: 4px;
}