
<div id="background">
</div>


<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8" >

    <div class="container-fluid" >
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-4 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Evenements Lineaire</h5>
                    <span class="h2 font-weight-bold mb-0">{{lineEvent}} km</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                       <img src="https://cdn-icons-png.flaticon.com/512/2554/2554922.png" width="40px"/>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                  <span class="text-nowrap">Dernière mois</span>
                </p>
              </div>
            </div>
          </div>
        
          <div class="col-xl-4 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Evenements Ponctuels</h5>
                    <span class="h2 font-weight-bold mb-0">{{ponctuels}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                       <img src="https://cdn-icons-png.flaticon.com/512/712/712058.png" width="40px"/>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
                  <span class="text-nowrap">Dernière mois</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Réferentiel Exploité</h5>
                    <span class="h2 font-weight-bold mb-0">{{kiloRoute}} km</span>
                  </div>
                  <div class="col-auto">
                    <div  class="icon icon-shape bg-info text-white rounded-circle shadow">
                      <img src="https://cdn-icons-png.flaticon.com/512/2554/2554952.png" width="40px"/>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
                  <span class="text-nowrap">Dernière mois</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- bg-gradient-default shadow -->
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-7 mb-5 mb-xl-0">
        <div class="card ">
          <div class="card-body">
            <!-- Chart -->  
         
                
                    <div id="mapPrevLine" class="mapPrevLine" style="width: 100%; height: 500px;"></div>
                    
            
            
          </div>
        </div>
        <div class="card mt-3">
            <!-- hello world -->
            <div class="card-body">
                <table  >
                    <tr>
                      <th></th>
                      <th></th>
                    </tr>
                    <tr style="margin:50px"*ngFor="let te of legendPoint;let i = index">
                       <td> <div class="box" [style.color]="returnJSon(te).fill" [style.background-color]="returnJSon(te).fill" [style.border]="returnJSon(te).radius" [style.border-radius]="radius" [style.width]="width" [style.height]="height" > </div></td>
                      <td> <div style="color:black">{{returnProvinceById(returnJSon(te).thematique)}} </div></td>
                    </tr>
                    <tr>
                      <td>------------------</td>
                      <td>----------------</td>
                    </tr>
                    <tr style="margin:50px"*ngFor="let te of legendLine;let i = index">
                       <td> <div class="box" [style.color]="returnJSon(te).fill" [style.background-color]="returnJSon(te).fill" [style.border]="returnJSon(te).radius" [style.width]="width" [style.height]="height" > </div></td>
                      <td> <div style="color:black">{{returnProvinceById(returnJSon(te).thematique)}} </div></td>
                    </tr>
                    
                   </table>
                </div>
                </div>
      </div>    
      <div class="col-xl-5">
        <div class="card shadow ">

            <!-- Chart -->
            <div class="card-body">
                <!-- Chart -->  
                <div class="chart">
                  <!-- Chart wrapper -->
                  <div id="chart-wrapper" style="color:black"  >
                    <div id="chart">
                        <apx-chart
                          [series]="chartOptions.series"
                          [chart]="chartOptions.chart"
                          [xaxis]="chartOptions.xaxis"
                          [stroke]="chartOptions.stroke"
                          [labels]="chartOptions.labels"
                          [title]="chartOptions.title"
                        ></apx-chart>
                      </div>
                </div>
                </div>
              </div>

            
        
        </div>


        <!--  -->
        <div class="card mt-3">
            <!-- hello world -->
            <div class="card-body">
                <div id="chart2">
                    <apx-chart
                      [series]="chartOptions2.series"
                      [chart]="chartOptions2.chart"
                      [xaxis]="chartOptions2.xaxis"
                      [stroke]="chartOptions2.stroke"
                      [labels]="chartOptions2.labels"
                      [title]="chartOptions2.title"
                    ></apx-chart>
                  </div>
           </div>
           </div>
           <!--  -->
      </div>
    </div>
  </div>

